@page
@using Microsoft.AspNetCore.Identity
@using Shekordo.UI.Data
@attribute [IgnoreAntiforgeryToken]
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Login";
    var returnUrl = Request.Query["ReturnUrl"];
}

<h1>Login</h1>

<form method="post" asp-route-returnurl="@returnUrl">
    <div class="form-group mb-3">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" required />
    </div>
    <div class="form-group mb-3">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" required />
    </div>
    <div class="form-group mb-3">
        <input type="checkbox" name="rememberMe" id="rememberMe" />
        <label for="rememberMe">Запомнить меня</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

@functions {
    public async Task<IActionResult> OnPostAsync(string email, string password, bool rememberMe, string returnUrl = "/")
    {
        var result = await SignInManager.PasswordSignInAsync(email, password, rememberMe, lockoutOnFailure: false);
        if (result.Succeeded)
        {
            return LocalRedirect(returnUrl);
        }
        return Page();
    }
}